#account-items {
  list-style-type: none;
}
.account-item {
  border: 1px solid #eee;
  padding:5px 10px;
  margin:10px 0;
}
.account-item div {
  display: inline-block;
}
.item-title {
  width: 150px;
}
.item-value {
  width: 250px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  margin-left: 270px;
  padding: 20px 20px 0 20px;
  border: 1px solid #888;
  width: 50vw; /* Could be more or less, depending on screen size */
}

@media (max-width: 768px) {
  .modal-content {
    margin: 20% auto;
    width: 90vw;
  }
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fieldlist {
  padding: 0;
}

.fieldlist li {
  list-style: none;
  padding-bottom: 2em;
}

.fieldlist label {
  display: block;
  padding-bottom: 1em;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  color: #444;
}