// html {
//     font-family: Baskerville;
// }
.k-button {
    border-radius: 10px;
}

.k-button.k-primary {
    background-color: #FECD2F;
    color: black;
    border-radius: 10px;
}

.bolder {
    font-weight: bolder;
}
.light {
    font-weight: 500;
}

h3 {
    margin: 0;
}

// media min width
.container {
    margin: 0 200px 0 200px;
}

.content {
    background: white;
    padding: 0 50px 0 50px;
}

.content-inner {
    background: #E3E3E3;
    padding: 30px;
}

.logo-banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    padding: 50px 50px 0 50px;
    z-index: -1;
    background: url(assets/images/catbackground.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-bit {
    margin: 0 5px 0 5px;
}

.banner-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.banner-middle {
    width: 100%;
    text-align: center;
    font-size: 75px;
    color: white;
}

.main-nav {
    display: flex;
    justify-content: space-between;
}

.nav-item {
    width: 13%;
    text-align: center;
    color: white;
    font-size: 50px;
}

.nav-item a {
    text-decoration: none;
}

.nav-link {
    background: white;
    display: flex;
    justify-content: center;
    height: 30px;
    border-radius: 10px 10px 0 0;
    padding-top: 5px;
    color: black;
    font-size: 15px;
}

.nav-link.active {
    background: #E3E3E3;
}

.nav-icon {
    margin-bottom: 10px;
}
