.wrapper {
  width: 100%;
}

#sidebar.collapsed {
  transform: translateX(-100%);
}

#sidebar {
  position: fixed;
  width: 250px;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 998;
  background: #3f51b5;
  color: #fff;
  transition: all 500ms;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #3f51b5;
}

#sidebar ul.components {
  list-style-type: none;
  padding: 20px 0;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #000;
  background: #fff;
}

#content {
  margin-left: 270px;
  padding: 20px;
  min-height: 100vh;
  transition: all 500ms;
}

.hamburger {
  display: none;
}

.mobile-nav {
  position: fixed;
  top: 0;
  background: rgba(90, 90, 90, 0.9);
  height: 100vh;
  width: 80vw;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 999;
  transform: translateX(-100%);
  transition: transform 500ms;
}

.mobile-nav-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 2rem;
}

.open {
  display: flex;
  transform: translateX(0);
}

@media (max-width: 768px) {
  #content {
    margin-left: 0;
  }

  #sidebar {
    margin-left: -250px;
  }

  #sidebar.collapsed {
    margin-left: 0;
  }

  #sidebarCollapse span {
    display: none;
  }

  #content {
    padding-left: 20px;
  }

  #content.collapsed {
    padding-left: 270px;
  }

  .hamburger {
    display: inline-block;
  }
}

